In [2]:
import numpy as np
import pandas as pd
import random
import csv

In [3]:
data = pd.read_csv("train.csv")

In [4]:
data.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0

In [56]:
heading = data.columns.values
heading

array(['Id', 'Open Date', 'City', 'City Group', 'Type', 'P1', 'P2', 'P3',
       'P4', 'P5', 'P6', 'P7', 'P8', 'P9', 'P10', 'P11', 'P12', 'P13',
       'P14', 'P15', 'P16', 'P17', 'P18', 'P19', 'P20', 'P21', 'P22',
       'P23', 'P24', 'P25', 'P26', 'P27', 'P28', 'P29', 'P30', 'P31',
       'P32', 'P33', 'P34', 'P35', 'P36', 'P37', 'revenue'], dtype=object)

In [58]:
heading = heading[4:]
heading

array(['Type', 'P1', 'P2', 'P3', 'P4', 'P5', 'P6', 'P7', 'P8', 'P9',
       'P10', 'P11', 'P12', 'P13', 'P14', 'P15', 'P16', 'P17', 'P18',
       'P19', 'P20', 'P21', 'P22', 'P23', 'P24', 'P25', 'P26', 'P27',
       'P28', 'P29', 'P30', 'P31', 'P32', 'P33', 'P34', 'P35', 'P36',
       'P37', 'revenue'], dtype=object)

In [7]:
x = data.drop(columns = ["Id","Open Date","City","City Group","Type"] )
print(x.head())
x = np.array(x)
category = np.array(data['Type'].unique())
category

   P1   P2   P3   P4  P5  P6  P7  P8  P9  P10  ...  P29  P30  P31  P32  P33  \
0   4  5.0  4.0  4.0   2   2   5   4   5    5  ...  3.0    5    3    4    5
1   4  5.0  4.0  4.0   1   2   5   5   5    5  ...  3.0    0    0    0    0
2   2  4.0  2.0  5.0   2   3   5   5   5    5  ...  3.0    0    0    0    0
3   6  4.5  6.0  6.0   4   4  10   8  10   10  ...  7.5   25   12   10    6
4   3  4.0  3.0  4.0   2   2   5   5   5    5  ...  3.0    5    1    3    2

   P34  P35  P36  P37    revenue
0    5    4    3    4  5653753.0
1    0    0    0    0  6923131.0
2    0    0    0    0  2055379.0
3   18   12   12    6  2675511.0
4    3    4    3    3  4316715.0

[5 rows x 38 columns]

array(['IL', 'FC', 'DT'], dtype=object)

In [8]:
IL = np.array(x[data["Type"]=="IL"])
FC = np.array(x[data["Type"]=="FC"])
DT = np.array(x[data["Type"]=="DT"])

IL[:5],FC[:5],DT[:5]

(array([[4.000000e+00, 5.000000e+00, 4.000000e+00, 4.000000e+00,
         2.000000e+00, 2.000000e+00, 5.000000e+00, 4.000000e+00,
         5.000000e+00, 5.000000e+00, 3.000000e+00, 5.000000e+00,
         5.000000e+00, 1.000000e+00, 2.000000e+00, 2.000000e+00,
         2.000000e+00, 4.000000e+00, 5.000000e+00, 4.000000e+00,
         1.000000e+00, 3.000000e+00, 3.000000e+00, 1.000000e+00,
         1.000000e+00, 1.000000e+00, 4.000000e+00, 2.000000e+00,
         3.000000e+00, 5.000000e+00, 3.000000e+00, 4.000000e+00,
         5.000000e+00, 5.000000e+00, 4.000000e+00, 3.000000e+00,
         4.000000e+00, 5.653753e+06],
        [2.000000e+00, 4.000000e+00, 2.000000e+00, 5.000000e+00,
         2.000000e+00, 3.000000e+00, 5.000000e+00, 5.000000e+00,
         5.000000e+00, 5.000000e+00, 2.000000e+00, 5.000000e+00,
         5.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
         0.000000e+00, 0.000000e+00, 1.000000e+00, 1.000000e+00,
         1.000000e+00, 1.000000e+00, 1.000000e+00, 0.000000e+00,
         0.000000e+00, 0.000000e+00, 0.000000e+00, 1.000000e+00,
         3.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
         0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
         0.000000e+00, 2.055379e+06],
        [6.000000e+00, 4.500000e+00, 6.000000e+00, 6.000000e+00,
         4.000000e+00, 4.000000e+00, 1.000000e+01, 8.000000e+00,
         1.000000e+01, 1.000000e+01, 8.000000e+00, 1.000000e+01,
         7.500000e+00, 6.000000e+00, 4.000000e+00, 9.000000e+00,
         3.000000e+00, 1.200000e+01, 2.000000e+01, 1.200000e+01,
         6.000000e+00, 1.000000e+00, 1.000000e+01, 2.000000e+00,
         2.000000e+00, 2.500000e+00, 2.500000e+00, 2.500000e+00,
         7.500000e+00, 2.500000e+01, 1.200000e+01, 1.000000e+01,
         6.000000e+00, 1.800000e+01, 1.200000e+01, 1.200000e+01,
         6.000000e+00, 2.675511e+06],
        [3.000000e+00, 4.000000e+00, 3.000000e+00, 4.000000e+00,
         2.000000e+00, 2.000000e+00, 5.000000e+00, 5.000000e+00,
         5.000000e+00, 5.000000e+00, 2.000000e+00, 5.000000e+00,
         5.000000e+00, 2.000000e+00, 1.000000e+00, 2.000000e+00,
         1.000000e+00, 4.000000e+00, 2.000000e+00, 2.000000e+00,
         1.000000e+00, 2.000000e+00, 1.000000e+00, 2.000000e+00,
         3.000000e+00, 3.000000e+00, 5.000000e+00, 1.000000e+00,
         3.000000e+00, 5.000000e+00, 1.000000e+00, 3.000000e+00,
         2.000000e+00, 3.000000e+00, 4.000000e+00, 3.000000e+00,
         3.000000e+00, 4.316715e+06],
        [2.000000e+00, 3.000000e+00, 4.000000e+00, 4.000000e+00,
         1.000000e+00, 5.000000e+00, 5.000000e+00, 5.000000e+00,
         5.000000e+00, 5.000000e+00, 2.000000e+00, 5.000000e+00,
         5.000000e+00, 3.000000e+00, 4.000000e+00, 4.000000e+00,
         3.000000e+00, 4.000000e+00, 2.000000e+00, 4.000000e+00,
         1.000000e+00, 2.000000e+00, 1.000000e+00, 5.000000e+00,
         4.000000e+00, 4.000000e+00, 5.000000e+00, 1.000000e+00,
         3.000000e+00, 4.000000e+00, 5.000000e+00, 2.000000e+00,
         2.000000e+00, 3.000000e+00, 5.000000e+00, 4.000000e+00,
         4.000000e+00, 5.166635e+06]]),
 array([[4.000000e+00, 5.000000e+00, 4.000000e+00, 4.000000e+00,
         1.000000e+00, 2.000000e+00, 5.000000e+00, 5.000000e+00,
         5.000000e+00, 5.000000e+00, 1.000000e+00, 5.000000e+00,
         5.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
         0.000000e+00, 0.000000e+00, 3.000000e+00, 2.000000e+00,
         1.000000e+00, 3.000000e+00, 2.000000e+00, 0.000000e+00,
         0.000000e+00, 0.000000e+00, 0.000000e+00, 3.000000e+00,
         3.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
         0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
         0.000000e+00, 6.923131e+06],
        [6.000000e+00, 6.000000e+00, 4.500000e+00, 7.500000e+00,
         8.000000e+00, 1.000000e+01, 1.000000e+01, 8.000000e+00,
         8.000000e+00, 8.000000e+00, 1.000000e+01, 8.000000e+00,
         6.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
         0.000000e+00, 0.000000e+00, 5.000000e+00, 6.000000e+00,
         3.000000e+00, 1.000000e+00, 5.000000e+00, 0.000000e+00,
         0.000000e+00, 0.000000e+00, 0.000000e+00, 7.500000e+00,
         5.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
         0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
         0.000000e+00, 5.017319e+06],
        [9.000000e+00, 6.000000e+00, 6.000000e+00, 6.000000e+00,
         4.000000e+00, 4.000000e+00, 1.000000e+01, 8.000000e+00,
         1.000000e+01, 1.000000e+01, 8.000000e+00, 1.000000e+01,
         7.500000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
         0.000000e+00, 0.000000e+00, 2.500000e+01, 1.500000e+01,
         1.500000e+01, 3.000000e+00, 2.000000e+01, 0.000000e+00,
         0.000000e+00, 0.000000e+00, 0.000000e+00, 1.000000e+01,
         2.500000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
         0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
         0.000000e+00, 3.745135e+06],
        [4.000000e+00, 5.000000e+00, 4.000000e+00, 4.000000e+00,
         1.000000e+00, 3.000000e+00, 5.000000e+00, 5.000000e+00,
         5.000000e+00, 5.000000e+00, 2.000000e+00, 5.000000e+00,
         5.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
         0.000000e+00, 0.000000e+00, 3.000000e+00, 4.000000e+00,
         1.000000e+00, 2.000000e+00, 1.000000e+00, 0.000000e+00,
         0.000000e+00, 0.000000e+00, 0.000000e+00, 3.000000e+00,
         3.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
         0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
         0.000000e+00, 4.807746e+06],
        [2.000000e+00, 2.000000e+00, 4.000000e+00, 4.000000e+00,
         1.000000e+00, 2.000000e+00, 5.000000e+00, 5.000000e+00,
         5.000000e+00, 5.000000e+00, 2.000000e+00, 5.000000e+00,
         5.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
         0.000000e+00, 0.000000e+00, 3.000000e+00, 3.000000e+00,
         1.000000e+00, 3.000000e+00, 2.000000e+00, 0.000000e+00,
         0.000000e+00, 0.000000e+00, 0.000000e+00, 2.000000e+00,
         3.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
         0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
         0.000000e+00, 1.999097e+06]]),
 array([[1.000000e+00, 3.000000e+00, 0.000000e+00, 5.000000e+00,
         5.000000e+00, 5.000000e+00, 1.000000e+00, 5.000000e+00,
         5.000000e+00, 5.000000e+00, 2.000000e+00, 5.000000e+00,
         5.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
         0.000000e+00, 0.000000e+00, 1.000000e+00, 2.000000e+00,
         2.000000e+00, 1.000000e+00, 2.000000e+00, 0.000000e+00,
         0.000000e+00, 0.000000e+00, 0.000000e+00, 2.000000e+00,
         3.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
         0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
         0.000000e+00, 3.810007e+06]]))

In [9]:
FC[10]

array([4.000000e+00, 4.000000e+00, 5.000000e+00, 5.000000e+00,
       2.000000e+00, 2.000000e+00, 5.000000e+00, 5.000000e+00,
       5.000000e+00, 5.000000e+00, 2.000000e+00, 5.000000e+00,
       5.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
       0.000000e+00, 0.000000e+00, 3.000000e+00, 1.000000e+00,
       2.000000e+00, 1.000000e+00, 1.000000e+00, 0.000000e+00,
       0.000000e+00, 0.000000e+00, 0.000000e+00, 2.000000e+00,
       3.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
       0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
       0.000000e+00, 3.778621e+06])

In [17]:
total = np.array([IL, FC, DT])

<ipython-input-17-04a79e601378>:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  total = np.array([IL, FC, DT])

In [18]:
random.uniform(0,8)

4.037839135819999

In [19]:
total[1]

array([[4.000000e+00, 5.000000e+00, 4.000000e+00, ..., 0.000000e+00,
        0.000000e+00, 6.923131e+06],
       [6.000000e+00, 6.000000e+00, 4.500000e+00, ..., 0.000000e+00,
        0.000000e+00, 5.017319e+06],
       [9.000000e+00, 6.000000e+00, 6.000000e+00, ..., 0.000000e+00,
        0.000000e+00, 3.745135e+06],
       ...,
       [3.000000e+00, 4.000000e+00, 4.000000e+00, ..., 0.000000e+00,
        0.000000e+00, 2.544857e+06],
       [4.000000e+00, 5.000000e+00, 4.000000e+00, ..., 0.000000e+00,
        0.000000e+00, 7.217634e+06],
       [4.000000e+00, 5.000000e+00, 3.000000e+00, ..., 0.000000e+00,
        0.000000e+00, 6.363241e+06]])

In [38]:
index = random.randrange(0,len(FC))
index

67

In [64]:
def value(df):

    multiplyer = random.uniform(1,8)
    
    index = random.randrange(0,len(df))
    index_value = df[index]
    
    li = []
    for i in index_value:
        li.append(float(("%.2f"%(multiplyer*i))))
        
    return li
        
value(FC),len(value(FC))

([11.46,
  15.28,
  11.46,
  15.28,
  11.46,
  7.64,
  19.1,
  15.28,
  15.28,
  15.28,
  11.46,
  15.28,
  15.28,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  19.1,
  3.82,
  3.82,
  3.82,
  3.82,
  0.0,
  0.0,
  0.0,
  0.0,
  3.82,
  11.46,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  12460863.79],
 38)

In [65]:
num_of_columns = 4000

In [66]:
extended_data = []

for i in range(len(total)):
    for j in range(num_of_columns):
        
        total_val = [category[i]]
        val_li = value(total[i])
        
        for k in val_li:
            total_val.append(k)

        extended_data.append(total_val)
        
extended_data = np.array(extended_data)

In [67]:
extended_data[0]

array(['IL', '4.16', '4.16', '5.54', '5.54', '2.77', '2.77', '6.93',
       '5.54', '6.93', '6.93', '4.16', '6.93', '6.93', '1.39', '6.93',
       '5.54', '2.77', '5.54', '6.93', '6.93', '2.77', '1.39', '5.54',
       '4.16', '4.16', '4.16', '2.77', '2.77', '4.16', '6.93', '6.93',
       '6.93', '5.54', '2.77', '6.93', '4.16', '2.77', '5562724.06'],
      dtype='<U12')

In [68]:
length = len(extended_data)
length, extended_data.shape , extended_data[0] , extended_data[-1]

(12000,
 (12000, 39),
 array(['IL', '4.16', '4.16', '5.54', '5.54', '2.77', '2.77', '6.93',
        '5.54', '6.93', '6.93', '4.16', '6.93', '6.93', '1.39', '6.93',
        '5.54', '2.77', '5.54', '6.93', '6.93', '2.77', '1.39', '5.54',
        '4.16', '4.16', '4.16', '2.77', '2.77', '4.16', '6.93', '6.93',
        '6.93', '5.54', '2.77', '6.93', '4.16', '2.77', '5562724.06'],
       dtype='<U12'),
 array(['DT', '5.18', '15.54', '0.0', '25.9', '25.9', '25.9', '5.18',
        '25.9', '25.9', '25.9', '10.36', '25.9', '25.9', '0.0', '0.0',
        '0.0', '0.0', '0.0', '5.18', '10.36', '10.36', '5.18', '10.36',
        '0.0', '0.0', '0.0', '0.0', '10.36', '15.54', '0.0', '0.0', '0.0',
        '0.0', '0.0', '0.0', '0.0', '0.0', '19739574.57'], dtype='<U12'))

In [69]:
np.random.shuffle(extended_data)
np.random.shuffle(extended_data)

In [72]:
len(heading)

39

In [73]:
extended_data = np.insert(extended_data, 0, heading)
extended_data = extended_data.reshape( (length+1, len(heading)) )

In [74]:
len(extended_data), extended_data.shape , extended_data[0] , extended_data[-1]

(12001,
 (12001, 39),
 array(['Type', 'P1', 'P2', 'P3', 'P4', 'P5', 'P6', 'P7', 'P8', 'P9',
        'P10', 'P11', 'P12', 'P13', 'P14', 'P15', 'P16', 'P17', 'P18',
        'P19', 'P20', 'P21', 'P22', 'P23', 'P24', 'P25', 'P26', 'P27',
        'P28', 'P29', 'P30', 'P31', 'P32', 'P33', 'P34', 'P35', 'P36',
        'P37', 'revenue'], dtype='<U12'),
 array(['IL', '8.93', '14.88', '11.9', '11.9', '5.95', '5.95', '14.88',
        '2.98', '11.9', '11.9', '14.88', '5.95', '11.9', '11.9', '11.9',
        '11.9', '8.93', '8.93', '14.88', '14.88', '14.88', '2.98', '2.98',
        '14.88', '14.88', '14.88', '2.98', '8.93', '5.95', '14.88',
        '14.88', '8.93', '8.93', '8.93', '11.9', '8.93', '5.95',
        '20343271.81'], dtype='<U12'))

In [75]:
with open('Extended_Restaurant_Data.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(extended_data)